.root{
    @apply flex;
    margin: 10px 0;
    li{
        margin: 0 20px ;
        @apply  pt-5 pb-2 flex items-center select-none;
        a{
            width: 40px;
            height: 40px;
            border: 2px solid rgb(251, 146, 60);
            @apply text-center flex justify-center items-center rounded-full text-orange-400 font-semibold cursor-pointer;
            &:hover{
                @apply bg-orange-400 text-white
            }
        }
    }
    :global{
        .selected{
            a{
                @apply bg-orange-400 text-white rounded-full
            }
        }
    }
    @media screen and (max-width:767px){
        li{
            margin: 0 10px;
        }
    }
}