.ShopCartItem{
        @apply w-full flex h-full justify-between items-center my-10;
        .aboutPizza{
            @apply flex items-center justify-center;
            img{
                user-select: none;
                @apply w-[70px] h-[70px] mr-5
            }
            div{
                @apply flex items-center justify-center text-xl;
                p{
                    @apply mx-4
                }
            }
        }
        .countPizza{
            @apply flex items-center justify-center;
            p{
                user-select: none;
                @apply text-2xl cursor-default bg-gray-200 rounded-md px-5 mx-2
            }
            span{
                user-select: none;
                @apply rounded-full cursor-pointer bg-orange-400 flex items-center justify-center text-white text-3xl pb-[1px] w-[36px] h-[36px];
            }
        }
        .pricePizza{
            @apply flex items-center text-3xl;
            p{
                @apply text-xl mx-5
            }
            svg{
                user-select: none;
                @apply bg-orange-400 text-white rounded-full w-[40px] h-[40px] p-2 cursor-pointer;
            }
        }
        @media screen and (max-width:767px) and (min-width:375px) {
            padding: 0px;

            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background-color: #3b3b3b;
            color: white;
            .aboutPizza{
                flex-direction: column;
                img{
                    width: 100px;
                    height: 100px;
                }
                .params{
                    flex-direction: column;
                    margin: 10px 0;
                    h2{
                        font-size: 24px;
                        
                    }
                    p{
                        margin: 5px 0;
                    }
                }  
            }
            .countPizza{
                p{
                    @apply bg-orange-400
                }
            }
            .pricePizza{
                margin: 10px 0;
                p{
                    font-size: 24px;
                }
            }
        }
        @media screen and (max-width:767px) and (min-width:375px) {
            margin: 0;
        }
    }
