@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@media screen and (max-width: 878px) and (min-width: 375px){
    .MenuB{
        display: none
    }
    .MenuB.active{
        display: block;
        @apply w-full h-full;
        font-family: 'Oswald';
        .MenuB__cont{
            @apply w-full h-full flex justify-center items-center;
            .MenuB__s{
              @apply w-full h-full flex flex-col justify-between;
              .MenuB__cart{
                @apply w-full h-[100px] flex items-center justify-start;
                h2{
                  font-family: 'Righteous', cursive;
                  @apply text-xl uppercase;
                  padding: 10px 10px;
                  margin: 0 10px;
                  position: relative;
                  border-radius: 2px;
                  cursor: pointer;
                  color: white;
                }
                h2:hover{
                  color: #3D3D3D;
                }
                h2::before{
                  transition: .5s all ease-out;
                  position: absolute;
                  top: 0;
                  left: 50%;
                  right: 50%;
                  bottom: 0;
                  opacity: 0;
                  content: "";
                  background-color: white;
                  border-radius: 10px;
                }
                h2:hover::before{
                  transition: .2s all ease;
                  left: 0;
                  right: 0;
                  opacity: 1;
                  z-index: -1;
                }
                p{
                  @apply mx-5 bg-orange-400 px-4 py-2 rounded-2xl font-semibold text-white text-lg tracking-wider;
                }
                @media screen and (max-width: 575px) and (min-width: 375px){
                  @apply flex-col items-start my-5;
                  h2{
                    margin: 0
                  }
                }
              }
              .header__nav{
                @apply h-4/5 w-full justify-center items-center;
                .header__nav__links{
                    @apply mx-10 flex flex-col w-full h-3/4 items-center justify-between;
                    .links{
                        text-align: left;
                        width:70%;
                        font-family: 'Righteous', cursive;
                        @apply text-xl uppercase;
                        padding: 0 40px;
                        position: relative;
                        border-radius: 2px;
                        cursor: pointer;
                        color: white;
                      }
                      .links:hover{
                        color: white;
                      }
                      .links::before{
                        transition: .5s all ease-out;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        right: 50%;
                        bottom: 0;
                        opacity: 0;
                        content: "";
                        @apply bg-orange-400;
                        border-radius: 10px;
                      }
                      .links:hover::before{
                        transition: .2s all ease;
                        left: 0;
                        width: 100%;
                        right: 0;
                        opacity: 1;
                        z-index: -1;
                      }
                    .links{
                        @apply text-white text-2xl font-bold uppercase relative ;
                        transition: 0.3s;
                        .linksToHome::before{
                            content: '';
                            position: absolute;
                            background: url('../../img/Header/icons8-коттедж-48\ \(1\).png') 50% 0%/cover no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -10%;
                            opacity: 1;
                            top: 0%;
                        }
                      
                          .linksToMenu::after{
                            content: '';
                            position: absolute;
                            background: url('../../img/Header/icons8-пицца-30.png') 50% 0%/cover no-repeat;
                            width: 30px;
                            height: 30px;
                            left: -10%;
                            top: 0%;
                          }
                       
                          .linksToAbout::after{
                            content: '';
                            position: absolute;
                            background: url('../../img/Header/icons8-about-48.png') 50% 0%/cover no-repeat;
                            width: 30px;
                            height: 30px;
                            left: -10%;
                            top: 0%;
                          }
                          
                          .linksToContacts::after{
                            content: '';
                            position: absolute;
                            background: url('../../img/Header/icons8-маркер-на-карте-30\ \(1\).png') 50% 0%/cover no-repeat;
                            width: 30px;
                            height: 30px;
                            left: -10%;
                            top: 0%;
                          }
                        
                          .linksToCart::after{
                            content: '';
                            position: absolute;
                            background: url('../../img/Header/icons8-корзина-30.png') 50% 0%/cover no-repeat;
                            width: 30px;
                            height: 30px;
                            left: -10%;
                            top: 0%;
                          }
                          &:hover{
                            opacity: 0.9;
                            transform:scale(1.1);
                            
                          }
                        a{
                            transition: 0.3s;
                        }
                        a:hover{
                            transition: 0.3s;
                            text-shadow: rgb(254, 137, 41) 1px 3px 5px;
                        }
                    }
                }
            }
            }
            
        }
    }
    .MenuB__open{
        z-index: 9999;
        @apply bg-orange-400 rounded-full;
        transition: .2s;
        padding: 15px;
        @apply cursor-pointer fixed top-5 right-5 flex items-center justify-center;
        .Open__Modal{
            @apply relative w-7 h-6 flex justify-center items-center;
            span{
                transition: all ease-in-out .3s;
                height: 3px;
                @apply w-7 bg-white ;
            }
            ::after{
                content: '';
                transition: all ease-in-out .3s;
                height: 3px;
                @apply bottom-0 right-0 w-7 absolute bg-white;
            }
            ::before{
                content: '';
                transition: all ease-in-out .25s;
                height: 3px;
                @apply top-0 right-0 w-7 absolute bg-white;
            }
        }
        .Open__Modal.active{
            @apply relative w-7 z-[9999] h-6 flex justify-center items-center;
            
            span{
                transition: .3s;
                height: 3px;
                @apply w-7 rotate-45 bg-white ;
            }
            ::before{
                content: '';
                transition: .1s;
                height: 3px;
                @apply bottom-0 -rotate-90 right-0 w-7 absolute bg-white;
            }
            ::after{
                content: '';
                transition: .3s;
                display: none;
            }
        }
    }
   
}
