.root{
    height: 100%;
    @apply w-full flex justify-center items-center flex-col;
    div{
        margin: 50px 0;
        @apply text-2xl text-center;
        h2{
            @apply text-4xl my-6 font-bold;
        }
        p{
            letter-spacing: 3px;
            span{
                @apply text-5xl
            }
        }
        @media screen and (max-width:767px) and (min-width:375px) {
            p{
                font-size: 18px;
                span{
                    @apply text-4xl;
                }
            }
        }
    }
    img{
        margin: 0px 40px 20px 0;
        width: 400px;
        height: 300px;
    }
    a{
        margin: 40px 0;
        padding: 10px 20px;
        @apply bg-orange-400 text-xl uppercase text-white rounded-xl font-bold;
        transition: .5s;
        &:hover{
            transform: scale(1.1);
        }
    }
}