.root{
    @apply w-full h-[90%] flex justify-center items-center flex-col;
    div{
        @apply my-[50px] text-2xl text-center;
        h2{
            @apply text-4xl font-bold;
        }
        p{
            @apply tracking-[3px];
            span{
                @apply text-5xl
            }
        }
    }
    img{
        margin: 20px 40px 50px 0;
        width: 400px;
        height: 300px;
    }
    a{
        margin: 40px 0;
        @apply bg-orange-400 text-xl uppercase text-white px-[20px] py-[10px] rounded-xl font-bold;
        transition: .5s;
        &:hover{
            transform: scale(1.1);
        }
    }
}